/* ----------------------------------

Powered by Takashiro Kazuichi

-------------------------------------*/
/** portal::index **/

.blocktitle{border-left:2px solid black;height:2em;font-size:17pt;margin:7px 0; transition: 0.2s linear;}
.blocktitle:hover{border-left-width:5px;}
.blocktitle .titletext{font-weight:bold;color:black;line-height:1em;}
.blocktitle .titletext em{display:block; font-size:0.6em; color:#CCC;}

.dxb_bc .xld{height:194px;}
.dxb_bc .xld .cl{width:364px; height:194px; overflow: hidden; position: relative;border:3px solid #F0F0F0;float:left; margin:0 15px;}
.dxb_bc .xld .cl .mask{width:364px; height:194px; opacity: 0.8; filter:Alpha(Opacity=80); position:absolute;top:0;left:0; z-index: 3;background:black;display:none;}
.dxb_bc .xld .cl a dt{padding:15px; position:absolute; top:0; left: 0; width: 334px; height: 70px; color:white; z-index: 4; font-size:16pt; font-weight: normal;display:none;}
.dxb_bc .xld .cl a dd{padding:15px; position:absolute; bottom:0; left: 0; width: 334px; height: 84px; color:white; z-index: 4; font-size: 11pt;display: none;}

.dxb_bc .xl ul li{line-height:1.5em; height:1.5em;}
.dxb_bc .xl ul li em{font-style: italic;}

.dxb_bc .x ul.mbm li{display:inline; line-height: 1.5em; margin:0 0.5em;}

/** end **/

/** portal::view, portal::list **/
.bm_h{height:34px;line-height:34px;color:#3E4142;background:none;}
.bh_h h1.xs2, .bh_h h2{font-size:18px;border-bottom:2px solid #00BBF1;}

.ct2 .mn{border-right: 1px dashed #E8E8E8;}
/** end **/

/** forum::index **/
.bmw .bm_h{background: #F3F3F3; border: 0 solid; font-size: 13pt;}
.bmw .bm_h a{color: black;}
.bmw a:hover{color:#00BBF1;text-shadow:0 0 5px #00BBF1;}
.bm_h{height: 2.5em; line-height: 2.5em;}
.bm_h .o{margin-top: 13px;}
.bm_h .o img{margin-top: 0;}
.fl_g dt{font-size: 12pt; font-weight: normal;}
/** end **/
