/** portal::index **/

.blocktitle{border-left:2px solid black;height:2em;font-size:17pt;margin:7px 0; transition: 0.2s linear;}
.blocktitle:hover{border-left-width:5px;}
.blocktitle .titletext{font-weight:bold;color:black;line-height:1em;}
.blocktitle .titletext em{display:block; font-size:0.6em; color:#CCC;}

.dxb_bc .xld{height:194px;}
.dxb_bc .xld .cl{width:364px; height:194px; overflow: hidden; position: relative;border:3px solid #F0F0F0;float:left; margin:0 15px;}
.dxb_bc .xld .cl .mask{width:364px; height:194px; opacity: 0.8;position:absolute;top:0;left:0; z-index: 3;background:black;}
.dxb_bc .xld .cl a dt{padding:15px; position:absolute; top:0; left: 0; width: 334px; height: 70px; color:white; z-index: 4; font-size:16pt; font-weight: normal;}
.dxb_bc .xld .cl a dd{padding:15px; position:absolute; bottom:0; left: 0; width: 334px; height: 84px; color:white; z-index: 4; font-size: 11pt;}

.dxb_bc .xl ul li{line-height:1.5em; height:1.5em;}
.dxb_bc .xl ul li em{font-style: italic;}

.dxb_bc .x ul.mbm li{display:inline; line-height: 1.5em; margin:0 0.5em;}

/** end **/
