<!--{template common/header}-->
<link rel="stylesheet" type="text/css" id="time_diy" href="template/win8mi_5th_fast/src/portaldiy.css?{VERHASH}" />
<style id="diy_style" type="text/css"></style>
<script src="template/win8mi_5th_fast/src/js/superslide.2.1.js" type="text/javascript"></script>

<!--[diy=diytop]--><div id="diytop" class="area"></div><!--[/diy]-->

<div class="wp">
   <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->        
</div>

<!--[diy=diybottom]--><div id="diybottom" class="area"></div><!--[/diy]-->

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script> 
<!--{template common/footer}-->
